div.row{
  margin: 0px !important;
}

div#columnaboton.col-md-4{
  text-align:center;
}

div#formulario.row{
  text-align:center;
}

span.label.label-default{
  background-color:#0e68af;
  font-size:large;
}

img.img-responsive-logo{
  margin-top:-5px;
}

div#columnageneral.col-md-5.col-md-offset-4{
  padding-top:15px;
  padding-bottom:10px;
}

body{
  background-color:rgb(198,198,198);
  background-image: url('/assets/img/fondo.jpg');
  min-height: 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

ul.nav.navbar-nav.navbar-right{
}

a.a-menu{
}

div.col-md-4.footer{
}

div.row.footer{
  height:200px;
  background-color:black;
}

i.fa.fa-twitter-square{
}

a.btn.btn-default.menu{
  float:left;
  width:100%;
  margin:0;
  height:80px;
  line-height:2.8;
  font-size:x-large;
  color:#7fb850;
}

div.col-md-12.menu{
  padding:0;
}
div.col-md-12.admin {
  width: 99%;
  padding: 10px;
}

div.table-responsive.admin {
  border: 1px solid;
  border-radius: 2px;
  border-color: grey;
}

.table {
  margin: 0px !important;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  color: white;
  background: rgba(0, 0, 0, 0.39);
}

nav.navbar.navbar-default{
  margin-bottom:0px;
  min-height:70px;
  border-radius: 0px;
}

div#navcol-1.collapse.navbar-collapse{
  margin-top:0px;
  padding:0;
}

div.container{
  margin-top:70px;
}

h1.h1-tabla{
  text-align:center;
  color:#0e68af;
}

h1 small {
  color: #fff !important;
}

div.table-striped{
}

button.btn.btn-default.btn-lg.volver{
  width:500px;
}

div.container-fluid.principal{
  margin: 0px;
  padding: 0px;
  min-height: 300px;
}

img.img-logo-ctes{
  width:70px;
  float:left;
}

h4.text-right{
}

div.row.precios{
}

div.table-responsive.precios{
}

.table-responsive.th{
}

div.col-md-4.col-sm-6.footer-navigation{
}

p.links{
  margin-top:40px;
}

div.col-md-12{
  padding:0px;
}

span{
  color:#0e68af;
}

.container.datos{
  width: 60%;
}

ul.nav.navbar-nav {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar-header{
  height: 70px;
}

.navbar-default .navbar-nav>li>a{

  padding-top: 23px;
}

.btn.menu.admin {
  background: #74afd6;
  background-image: -webkit-linear-gradient(top, #74afd6, #2980b9);
  background-image: -moz-linear-gradient(top, #74afd6, #2980b9);
  background-image: -ms-linear-gradient(top, #74afd6, #2980b9);
  background-image: -o-linear-gradient(top, #74afd6, #2980b9);
  background-image: linear-gradient(to bottom, #74afd6, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  height: 70px;
}

.btn.menu.admin:hover {
  background: #72a4c4;
  background-image: -webkit-linear-gradient(top, #72a4c4, #3498db);
  background-image: -moz-linear-gradient(top, #72a4c4, #3498db);
  background-image: -ms-linear-gradient(top, #72a4c4, #3498db);
  background-image: -o-linear-gradient(top, #72a4c4, #3498db);
  background-image: linear-gradient(to bottom, #72a4c4, #3498db);
  text-decoration: none;
}

ul.nav.nav-tabs.nav-justified {
  background-color: rgba(0, 0, 0, 0.51);
}

.nav-tabs>li>a {
  border: 0px;
  border-radius: 0px;
  color: white;
}


.nav-tabs.nav-justified>li>a {
  border-radius: 0px !important;
  border: 0px !important; 
}

.nav-tabs.nav-justified>li>a:hover {
  border-radius: 0px;
  border: 0px; 
  background-color: grey;
  color: white;
}

.panel.panel-default {
  background-color: rgba(218, 218, 218, 0.38);
}

div.container-fluid.trans {
  background-color: rgba(111, 111, 111, 0.62);
  width: 100%;
  margin-top: 0px;
  padding: 0px;
}

.alert.alert-danger.activo {
  margin-bottom: 0px;
  border: 0px; 
  border-radius: 0px;
}